*{
    margin: 0;
    padding: 0;
}
.main-service-div{
    width: 100%;
    min-height: 100vh;
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.service-inner-div{
    width: 21rem;
    min-height: 130vh;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
}
.service-inner-div2{
    width: 21rem;
    min-height: 130vh;
   
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
    img{
       width: 100%;
       height: 100%;
    }
}
.inner-div2-chefimg{
    width: 100%;
    height: 35rem;
    box-shadow: inset  0px 0px 20px #faf9f0;
  
   
   img{
    width: 100%;
    height: 100%;
    z-index: -1;
    position: relative;
   
   }
}
.service1{
    width:100%;
    min-height: 20rem;
   
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    border-radius: 48px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.301);
    h2{
        text-align: center;
        
    }
    p{
        text-align: center;
        word-wrap: break-word;
        padding: 0 15px;
    }

}
.service-img-div{
    width: 7rem;
    height: 7rem;
    
    border-radius: 50%;
    overflow: hidden;
   
   
    img{
        width: 100%;
        height: 100%;
       
    }
}
.service-title-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
    h1{
        font-size: 4rem;
        word-wrap: break-word;
        text-align: center;
    }
    p{
        font-size: 1.5rem;
        text-align: center;
    }
    button{
        width: 12rem;
        height: 3rem;
        background-color: #fa8840;
        border: none;
        border-radius: 1.5rem;
        font-size: 1.1rem;
        color: white;
        cursor: pointer;
    }
}